<!doctype html>
{% load static %}
<html class="fixed">
	<head>

		<!-- Basic -->
		<meta charset="UTF-8">

		<title>Bazzaars |  Orders List</title>
		
		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<!-- Web Fonts  -->
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.png' %}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<!-- Vendor CSS -->
		<link rel="stylesheet" href="{% static 'shoppanel/assets/vendor/bootstrap/css/bootstrap.css' %}" />
		<link rel="stylesheet" href="{% static 'shoppanel/assets/vendor/magnific-popup/magnific-popup.css' %}" />
		<link rel="stylesheet" href="{% static 'shoppanel/assets/vendor/bootstrap-datepicker/css/datepicker3.css' %}" />

		<!-- Specific Page Vendor CSS -->
		<link rel="stylesheet" href="{% static 'shoppanel/assets/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css' %}" />
		<link rel="stylesheet" href="{% static 'shoppanel/assets/vendor/bootstrap-multiselect/bootstrap-multiselect.css' %}" />
		<link rel="stylesheet" href="{% static 'shoppanel/assets/vendor/morris/morris.css' %}" />

		<!-- Theme CSS -->
		<link rel="stylesheet" href="{% static 'shoppanel/assets/stylesheets/theme.css' %}" />

		<!-- Skin CSS -->
		<link rel="stylesheet" href="{% static 'shoppanel/assets/stylesheets/skins/default.css' %}" />

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="{% static 'shoppanel/assets/stylesheets/theme-custom.css' %}">
		<link rel="stylesheet" href="{% static 'w3.css' %}">

		<!-- Head Libs -->
		<script src="{% static 'shoppanel/assets/vendor/modernizr/modernizr.js' %}"></script>

	</head>
	<body>
		<section class="body">

			<!-- start: header -->
			<header class="header">
				<div class="logo-container">
					<a href="" class="logo">
						<img style="width:200px;"src="{% static 'Bazzaars.png' %}" height="35">
					</a>
					<div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
						<i class="fa fa-bars" aria-label="Toggle sidebar"></i>
					</div>
				</div>
			
				<!-- start: search & user box -->
				<div class="header-right">

					<span class="separator"></span>
						<button type="button" class="mb-xs mt-xs mr-xs btn btn-success"><i class="fa fa-bullhorn"></i> Publish</button>
					<div id="userbox" class="userbox">
						<a href="#" data-toggle="dropdown">
							<figure class="profile-picture">
								{% if storelogo %}
								<img src="{{ storelogo|safe }}" alt="Joseph Doe" class="img-circle" data-lock-picture="{{ storelogo|safe }}" />
								{% else %}
								<img src="{% static 'shoppanel/assets/images/!logged-user.jpg' %}" alt="Joseph Doe" class="img-circle" data-lock-picture="assets/images/!logged-user.jpg" />
								{% endif %}
							</figure>
							<div class="profile-info" data-lock-name="John Doe" data-lock-email="johndoe@JSOFT.com">
								<span class="name">Hi! {{ storeowner|safe }}</span>
								<span class="role">Logout Here</span>
							</div>
			
							<i class="fa custom-caret"></i>
						</a>
			
						<div class="dropdown-menu">
							<ul class="list-unstyled">
								<li class="divider"></li>
								<li>
									<a role="menuitem" tabindex="-1" href="/adminlogout/"><i class="fa fa-power-off"></i> Logout</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- end: search & user box -->
			</header>
			<!-- end: header -->

			<div class="inner-wrapper">
				<!-- start: sidebar -->
				<aside id="sidebar-left" class="sidebar-left">
				
					<div class="sidebar-header">
						<div class="sidebar-title">
							Navigation
						</div>
						<div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
							<i class="fa fa-bars" aria-label="Toggle sidebar"></i>
						</div>
					</div>
				
					<div class="nano">
						<div class="nano-content">
							<nav id="menu" class="nav-main" role="navigation">
								<ul class="nav nav-main">
									<li class="nav-active">
										<a href="/shoppanelstoreprofile/">
											<i class="fa fa-home" aria-hidden="true"></i>
											<span>Dashboard</span>
										</a>
									</li>
									<li class="nav">
										<a href="/adminhome/">
											<i class="fa fa-eye" aria-hidden="true"></i>
											<span>Preview Store</span>
										</a>
									</li>
									<li class="nav-parent">
										<a>
											<i class="fa fa-shopping-cart" aria-hidden="true"></i>
											<span>Store Products</span>
										</a>
										<ul class="nav nav-children">
											<li>
												<a href="/shoppaneladdproductcategory/">Add Product Category</a>
											</li>
											<li>
												<a href="/shoppaneladdproduct/">Add Product</a>
											</li>
											<li>
												<a href="/shoppanelproductcategorylist/">Product Category List</a>
											</li>
											<li>
												<a href="/shoppanelproductlist/">Product List</a>
											</li>
										</ul>
									</li>
									<li class="nav-parent">
										<a>
											<i class="fa fa-shopping-basket" aria-hidden="true"></i>
											<span>Orders Data</span>
										</a>
										<ul class="nav nav-children">
											<li>
												<a href="/shoppanelallorderslist/">All Orders List</a>
											</li>
											<li>
												<a href="/shoppanelcompletedorderlist/">Completed Orders List</a>
											</li>
											<li>
												<a href="/shoppanelpendingorderlist/">Pending Orders List</a>
											</li>
										</ul>
									</li>
									<li class="nav">
										<a href="/shoppanelstorebanner/">
											<i class="fa fa-bullhorn" aria-hidden="true"></i>
											<span>Store Banners</span>
										</a>
									</li>
									<li class="nav-parent">
										<a>
											<i class="fa fa-cog" aria-hidden="true"></i>
											<span>Store Settings</span>
										</a>
										<ul class="nav nav-children">
											<li>
												<a href="/shoppanelaboutstore/">About Store</a>
											</li>
											<li>
												<a href="/shoppanelstorelogo/">Store Logo</a>
											</li>
											<li>
												<a href="/shoppanelstorebanner/">Store Banners</a>
											</li>
											<li>
												<a href="/shoppanelstoresocialmedialink/">Store Social Media Links</a>
											</li>
											<li>
												<a href="/shoppanelpaymentsystem/">Payment System</a>
											</li>
											<li>
												<a href="/logout/">Logout</a>
											</li>
										</ul>
									</li>
								</ul>
							</nav>

						</div>
				
					</div>
				
				</aside>
				<!-- end: sidebar -->

				<section role="main" class="content-body">
					<header class="page-header">
						<h2> Orders list</h2>
					
						<div class="right-wrapper pull-right">
							<ol class="breadcrumbs">
								<li>
									<a href="/adminhome/">
										<i class="fa fa-home"></i>
									</a>
								</li>
							</ol>
						</div>
					</header>

					<!-- start: page -->
						<div class="row">
							<div class="col-lg-12">
								<section class="panel">
									<header class="panel-heading">
						
										<h2 class="panel-title">Orders list</h2>

									</header>
									<div class="panel-body">
										<div class="table-responsive">
											<div style="overflow-x:auto;overflow-y:auto;">
											<table class="table table-hover mb-none">
												<thead>
													<tr>
														<th>View</th>
														<th>Date</th>
														<th>Order ID</th>
														<th>User ID</th>
														<th>Type</th>
														<th>Amount</th>
														<th>Delivery Address</th>
														<th>Status</th>
														<th>Action</th>
													</tr>
												</thead>
													{% for x in alldata %}
													<tr>
														<td>
															<a class="mb-xs mt-xs mr-xs btn btn-primary" href="#{{ x.id|safe }}" onclick="getElementById('{{ x.id|safe }}').style.display='block';">View</a>
														</td>
														<td>{{ x.date|safe }}</td>
														<td>{{ x.id|safe }}</td>
														<td>{{ x.uid|safe }}</td>
														
														{% if x.type == 'online' %}
														<td>Online Payment</td>
														{% else %}
														<td>COD</td>
														{% endif %}
														
														<td><i class="fa fa-inr"></i> {{ x.amount|safe }}</td>
														<th>{{ x.name|safe }}<br>{{ x.house|safe }}, {{ x.colony|safe }}<br>{{ x.city|safe }}-{{ x.pincode|safe }}, {{ x.state|safe }} (INDIA)</th>
														{% if x.status == 'Pending' %}
														<td>
															<span style="background-color:red;color:white;padding:5px;border-radius:5px;">
															{{ x.status|safe }}
															</span>
														</td>
														{% else %}
														<td>
															<span style="background-color:green;color:white;padding:5px;border-radius:5px;">
															{{ x.status|safe }}
															</span>
														</td>
														{% endif %}
														{% if x.status == 'Pending' %}
														<td>
															<a class="mb-xs mt-xs mr-xs btn btn-success" href="/makeordercompleted/?oid={{ x.id|safe }}">Completed</a>
														</td>
														{% else %}
														<td>
															<a class="mb-xs mt-xs mr-xs btn btn-danger" href="/makeorderpending/?oid={{ x.id|safe }}">Pending</a>
														</td>
														{% endif %}
													</tr>

													{% endfor %}
												
													
												</table>
											</div>
										</div>
									</div>
								</section>
							</div>
						</div>
						
						
					<!-- end: page -->
	</section>
</div>
{% for x in data %}
<div style="z-index:5000;" onclick="document.getElementById('{{ x.id|safe }}').style.display='none'" id="{{ x.id|safe }}" class="w3-modal w3-animate-zoom">
  <div class="w3-modal-content text-center">

    <div style="width:100%;font-size:20px;padding:10px"class="w3-black text-center">Order ID {{ x.id|safe }}</div>
    <button onclick="document.getElementById('{{ x.id|safe }}').style.display='none'"
      style="cursor:pointer;" class="w3-button w3-black w3-hover-black w3-display-topright ">&times;</button>


    <div style="padding:20px;"class="w3-container">
      	<div class="panel-body">
			<div class="table-responsive">
				<div style="overflow-x:auto;overflow-y:auto;">
					<table class="table table-hover mb-none">
						<thead>
							<tr>
								<th>Product ID</th>
								<th>Product Name</th>
								<th>Quantity</th>
								<th>Price</th>
								<th>Total Price</th>
							</tr>
						</thead>
						{% for y in product %}
						{% if x.id == y.oid %}
						<tr>
							<td>{{ y.id|safe }}</td>
							<td>{{ y.name|safe }}</td>
							<td>{{ y.quantity|safe }}</td>
							<td>{{ y.price|safe }}</td>
							<td>{{ y.total|safe }}</td>
						</tr>
						{% endif %}
						{% endfor %}
					</table>
				</div>
			</div>
		</div>
    </div>
  </div>
</div>
{% endfor %}


</section>

		<!-- Vendor -->
		<script src="{% static 'shoppanel/assets/vendor/jquery/jquery.js' %}"></script>
		<script src="{% static 'shoppanel/assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js' %}"></script>
		<script src="{% static 'shoppanel/assets/vendor/bootstrap/js/bootstrap.js' %}"></script>
		<script src="{% static 'shoppanel/assets/vendor/nanoscroller/nanoscroller.js' %}"></script>
		<script src="{% static 'shoppanel/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
		<script src="{% static 'shoppanel/assets/vendor/magnific-popup/magnific-popup.js' %}"></script>
		<script src="{% static 'shoppanel/assets/vendor/jquery-placeholder/jquery.placeholder.js' %}"></script>
		
		<!-- Specific Page Vendor -->
		<script src="{% static 'shoppanel/assets/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js' %}"></script>
		<script src="{% static 'shoppanel/assets/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js' %}"></script>
		<script src="{% static 'shoppanel/assets/vendor/jquery-appear/jquery.appear.js' %}"></script>
		<script src="{% static 'shoppanel/assets/vendor/bootstrap-multiselect/bootstrap-multiselect.js' %}"></script>
		<script src="{% static 'shoppanel/assets/vendor/jquery-easypiechart/jquery.easypiechart.js' %}"></script>
		<script src="{% static 'shoppanel/assets/vendor/flot/jquery.flot.js' %}"></script>
		<script src="{% static 'shoppanel/assets/vendor/flot-tooltip/jquery.flot.tooltip.js' %}"></script>
		<script src="{% static 'shoppanel/assets/vendor/flot/jquery.flot.pie.js' %}"></script>
		<script src="{% static 'shoppanel/assets/vendor/flot/jquery.flot.categories.js' %}"></script>
		<script src="{% static 'shoppanel/assets/vendor/flot/jquery.flot.resize.js' %}"></script>
		<script src="{% static 'shoppanel/assets/vendor/jquery-sparkline/jquery.sparkline.js' %}"></script>
		<script src="{% static 'shoppanel/assets/vendor/raphael/raphael.js' %}"></script>
		<script src="{% static 'shoppanel/assets/vendor/morris/morris.js' %}"></script>
		<script src="{% static 'shoppanel/assets/vendor/gauge/gauge.js' %}"></script>
		<script src="{% static 'shoppanel/assets/vendor/snap-svg/snap.svg.js' %}"></script>
		<script src="{% static 'shoppanel/assets/vendor/liquid-meter/liquid.meter.js' %}"></script>
		<script src="{% static 'shoppanel/assets/vendor/jqvmap/jquery.vmap.js' %}"></script>
		<script src="{% static 'shoppanel/assets/vendor/jqvmap/data/jquery.vmap.sampledata.js' %}"></script>
		<script src="{% static 'shoppanel/assets/vendor/jqvmap/maps/jquery.vmap.world.js' %}"></script>
		<script src="{% static 'shoppanel/assets/vendor/jqvmap/maps/continents/jquery.vmap.africa.js' %}"></script>
		<script src="{% static 'shoppanel/assets/vendor/jqvmap/maps/continents/jquery.vmap.asia.js' %}"></script>
		<script src="{% static 'shoppanel/assets/vendor/jqvmap/maps/continents/jquery.vmap.australia.js' %}"></script>
		<script src="{% static 'shoppanel/assets/vendor/jqvmap/maps/continents/jquery.vmap.europe.js' %}"></script>
		<script src="{% static 'shoppanel/assets/vendor/jqvmap/maps/continents/jquery.vmap.north-america.js' %}"></script>
		<script src="{% static 'shoppanel/assets/vendor/jqvmap/maps/continents/jquery.vmap.south-america.js' %}"></script>
		
		<!-- Theme Base, Components and Settings -->
		<script src="{% static 'shoppanel/assets/javascripts/theme.js' %}"></script>
		
		<!-- Theme Custom -->
		<script src="{% static 'shoppanel/assets/javascripts/theme.custom.js' %}"></script>
		
		<!-- Theme Initialization Files -->
		<script src="{% static 'shoppanel/assets/javascripts/theme.init.js' %}"></script>


		<!-- Examples -->
		<script src="{% static 'shoppanel/assets/javascripts/dashboard/examples.dashboard.js' %}"></script>

	</body>
</html>