<!doctype html>
{% load static %}
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Bazzaars - Documentry For Store</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="{% static 'site.webmanifest' %}">
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.png' %}">

		<!-- CSS here -->
            <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/gijgo.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/slicknav.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.min.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/themify-icons.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
            <link rel="stylesheet" href="{% static 'w3.css' %}">
   </head>

   <body>
       
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img style="width:200px;"src="{% static 'Bazzaars.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->

    <header>
        <!-- Header Start -->
       <div class="header-area">
            <div class="main-header ">
                <div class="header-top top-bg d-none d-lg-block">
                   <div class="container">
                       <div class="col-xl-12">
                        <div class="row d-flex justify-content-between align-items-center">
                            <div class="header-info-left">
                                <ul>     
                                    <li>+91-8279831239, +91-8938979011</li>
                                    <li>bazzaarsdotcom@gmail.com </li>
                                </ul>
                            </div>
                            <div class="header-info-right">
                                <ul>     
                                    <li>CREATE STORE FOR FREE</li>
                                </ul>
                            </div>
                       </div>
                       </div>
                   </div>
                </div>
               <div class="header-bottom  header-sticky">
                    <div class="container">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-2 col-lg-1 col-md-1">
                                <div class="logo">
                                <a href="/index/"><img style="width:200px;"src="{% static 'Bazzaars.png' %}" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-8 col-lg-8 col-md-8">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a href="/index/">Home</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>             
                            <div class="col-xl-2 col-lg-3 col-md-3">
                                <!-- Header-btn -->
                                <div class="header-btn d-none d-lg-block">
                                    <a class="get-btn text-center"></a>
                                </div>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
       </div>
        <!-- Header End -->
    </header>
    <main>

        <!-- slider Area Start-->
        <div class="slider-area ">
            <!-- Mobile Menu -->
            <div class="single-slider slider-height2 d-flex align-items-center" data-background="{% static 'assets/img/hero/Industries_hero.jpg' %}">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2>Documentry</h2>
                                <h3 style="color:white;">For Creating Store</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->
        <div style="padding-top:50px;padding-bottom:50px;"class="container">
            <p style="font-size:18px;">This documentation is for creating the store on our platform. You are requested to read the terms and conditions for stores <span style="font-weight:bold;"><a href="/tcstore/">(https://bazzaars.com/tcstore/).</a></span></p>
            <h3>Table of Contents</h3>
            <ol style="line-height:30px;">
              <li>1.  Creating Store Account</li>
              <li>2.  Editing Basic Details like address, mobile number, email id and other contact information.</li>
              <li>3.  Adding Products</li>
              <li>4.  Adding Store Banners</li>
              <li>5.  Adding Logo</li>
              <li>6.  Adding Social Media Links</li>
              <li>7.  Adding Payment Online System</li>
              <li>8.  Orders Information</li>
              <li>9.  Updating Product Stock</li>
            </ol>
            <h3>1. Creating Store Account</h3>
            <ol style="line-height:30px;">
              <li>a.  Click on <span style="font-weight:bold;">Create Store</span> button on the header</li>
              <li>b.  Fill the relevant information (like store name, store owner name, email, phone and password) and click on create button</li>
              <li>c.  On the next step enter the OTP sent on your mobile and email and click on verify.
              Next you have to select your store category.</li>
              <li>d.  On the next step you will be redirected to payment screen and you have to pay Rs 999/- to activate your account. Click on Pay Now button and you will be redirected to our Payment Service Provider Paytm Business Payments.</li>
              <li>e.  After payment login with your credentials by clicking on store login to open your store dashboard</li>
            </ol>
            <h3>2.Editing Basic Details</h3>
            <ol style="line-height:30px;">
              <li>a.  Login to your store dashboard by clicking on Store Login button.</li>
              <li>b.  On the dashboard click on Edit Tab next to Overview Tab.</li>
              <li>c.  You can edit mobile number, address, city and state. After making corrections click on Submit button.</li>
              <li>d.  And your details will be updated.</li>
            </ol>
            <h3>3. Adding Products</h3>
            <ol style="line-height:30px;">
              <li>a.  For Adding Products you have to first add Product Categories and for adding the Product Categories follow the below steps:</li>
              <ul>
                <li style="margin-left:20px;">i. Click on Store Products Tab from the left panel.</li>
                <li style="margin-left:20px;">ii. Click on Add Product Category.</li>
                <li style="margin-left:20px;">iii. On Add Product Category Page enter category name and upload a category thumbnail (supported formats are JPG, JPEG and PNG) and click on Add button.</li>
                <li style="margin-left:20px;">iv. Follow the same steps to add more product categories</li>

              </ul>
              <li>b. Now to add products click on Store Products and then click on Add Product to open Add Product Page.</li>
              <li>c. Next, select product category from the dropdown menu.</li>
              <li>d. Enter Product Name, Product Expiry Year (if not available enter 0), product stock, product description and product images.</li>
              <li>e. And click on Add to add product.</li>
            </ol>

            <h3>4. Adding Store Banner</h3>
            <ol style="line-height:30px;">
              <li>a.  To add the store banners click on Store Banners tab from the left panel.</li>
              <li>b.  Upload your banners in the aspect ratio of 18:9 and click on Upload button.</li>
              <li>c.  And after this your banners will be added to store hompage slider.</li>
            </ol>

            <h3>5. Adding Store Logo</h3>
            <ol style="line-height:30px;">
              <li>a. To add the store logo click on Store Settings tab from the left panel.</li>
              <li>b. Then click on Store Logo to open Store Logo Page.</li>
              <li>c. Upload your logo and click on submit button.</li>
              <li>d. And your logo will be added to your Store.</li>
              <li>e. By default Store Logo will the Store Name.</li>
            </ol>

            <h3>6. Adding Social Media Links</h3>
            <ol style="line-height:30px;">
              <li>a. To add social media links click on Store Settings tab from left panel.</li>
              <li>b. Then click on Store Social Media Link to open Store Social Media Link Page.</li>
              <li>c. Next click on Edit tab next to Overview tab.</li>
              <li>d. Add your social media links of Facebook, Twitter and Instagram.</li>
              <li>e. And click on Submit button to save the links.</li>
            </ol>
            <h3>7. Adding Online Payment System</h3>
            <ol style="line-height:30px;">
              <li>a. Click on Store Settings tab from the left panel</li>
              <li>b. Then click on Payment System to open Payment System Page.</li>
              <li>c. Enter your Paytm Business Merchant ID and Merchant Key generated from Paytm Business Dashboard.</li>
              <li>d. Then click on Submit button to save changes.</li>
              <li>e. You are all set take online payment from the customers on your online store.</li>
            </ol>
            <h3>8. Order Information</h3>
            <ol style="line-height:30px;">
              <li>a. To view the latest order information and other order information click on Orders Data tab from the side panel.</li>
              <li>b. You can view All Orders, Completed Orders (i.e. Delivered Orders) and Pending Orders (i.e. Undelivered Orders).</li>
              <li>c. All the latest orders informations will be updated on Pending Orders List Page.</li>
              <li>d. We will also send and SMS and Mail to your registered mobile number and email  id for latest orders update.</li>
            </ol>
            <h3>9. Updating Product Stock</h3>
            <ol style="line-height:30px;">
              <li>a. To update your product stock click on Store Product tab from left panel.</li>
              <li>b. Then click on Product List to open the product list page.</li>
              <li>c. On the product list page on top you will find Update Stock form.</li>
              <li>d. Select Product from dropdown menu and then enter the quantity of stock you want to add in the current stock of the product.</li>
              <li>c. Then click on Add button and your stock will be updated.</li>
            </ol>
            <h3 style="font-size:15px;">For any other query related to creating the store on Bazzaars.com contact us <span style="font-weight:bold;">@ bazzaarsdotcom@gmail.com</span> or you can also whatsapp us <span style="font-weight:bold;">@ +91-8279831239</span></h3>
        </div>

        <!-- Safe Industery Start -->
        
    <footer>
       <!-- Footer Start-->
       <div class="footer-area footer-bg footer-padding" style="padding-bottom:0px;">
           <div class="container">
               <div class="row d-flex justify-content-between">
                   <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                      <div class="single-footer-caption mb-50">
                        <div class="single-footer-caption mb-30">
                            <div class="footer-tittle">
                                <h4>About Us</h4>
                                <div class="footer-pera">
                                    <p>Bazzaars is an online platform for indian local market. On Bazzaars we provide an ecommerce website to the local shop owners in just few simple steps and at just Rs 999/-.</p>
                               </div>
                            </div>
                        </div>
                         <!-- logo -->
                         <div class="footer-logo">
                           <a href="index.html"><img style="width:200px;" src="{% static 'White Bazaarrs.png' %}" alt=""></a>
                         </div>
                      </div>
                   </div>
                   <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                       <div class="single-footer-caption mb-50">
                           <div class="footer-tittle">
                               <h4>Contact Info</h4>
                               <ul>
                                   <li>
                                   <p> Address : Agra-282007<br>Uttar Pradesh-INDIA</p>
                                   </li>
                                   <li><a href="tel://+918279831239/">Phone : +91-8279831239, +918938979011</a></li>
                                   <li><a href="mail://bazzaarsdotcom@gmail.com/">Email : bazzaarsdotcom@gmail.com</a></li>
                               </ul>
                           </div>
                       </div>
                   </div>
                   <div class="col-xl-3 col-lg-3 col-md-3 col-sm-5">
                       <div class="single-footer-caption mb-50">
                           <div class="footer-tittle">
                               <h4>Important Link</h4>
                               <ul>
                                   <li><a href="#id03" onclick="document.getElementById('id03').style.display='block'">Create Store</a></li>
                                   <li><a href="#id01" onclick="document.getElementById('id01').style.display='block'">Store Login</a></li>
                                   <li><a href="#id05" onclick="document.getElementById('id05').style.display='block'">User Login</a></li>
                                   <li><a href="#id06" onclick="document.getElementById('id06').style.display='block'">Become Agent</a></li>
                               </ul>
                           </div>
                       </div>
                   </div>
                   <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                       <div class="single-footer-caption mb-50">
                           <div class="footer-tittle">
                               <h4>Terms & Conditions</h4>
                                <ul>
                                   <li><a href="/tcstore/">T&C for Stores</a></li>
                                   <li><a href="/tcuser/">T&C for Users</a></li>
                                   <li><a href="/privacypolicy/">Privacy Policy</a></li>
                                   <li><a href="/disclaimer/">Disclaimer</a></li>
                               </ul>                            
                            </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       <!-- footer-bottom aera -->
       <div class="footer-bottom-area footer-bg" style="padding-top:0px;">
           <div class="container">
               <div class="footer-border">
                    <div class="row d-flex justify-content-between align-items-center">
                        <div class="col-xl-10 col-lg-10 ">
                            <div class="footer-copy-right">
                                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved @ <a href="https://www.srd.mobi">SRD - Shreshtha Research & Development</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2">
                            <div class="footer-social f-right">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fas fa-globe"></i></a>
                            </div>
                        </div>
                    </div>
               </div>
           </div>
       </div>
    </main>
       <!-- Footer End-->
   </footer>
       <!-- Footer End-->
   </footer>
   
	<!-- JS here -->
	
		<!-- All JS Custom Plugins Link Here here -->
        <script src="{% static 'assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>
		
		<!-- Jquery, Popper, Bootstrap -->
		<script src="{% static 'assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
        <script src="{% static 'assets/js/popper.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="{% static 'assets/js/jquery.slicknav.min.js' %}"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'assets/js/slick.min.js' %}"></script>
        <!-- Date Picker -->
        <script src="{% static 'assets/js/gijgo.min.js' %}"></script>
		<!-- One Page, Animated-HeadLin -->
        <script src="{% static 'assets/js/wow.min.js' %}"></script>
		<script src="{% static 'assets/js/animated.headline.js' %}"></script>
        <script src="{% static 'assets/js/jquery.magnific-popup.js' %}"></script>

		<!-- Scrollup, nice-select, sticky -->
        <script src="{% static 'assets/js/jquery.scrollUp.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.nice-select.min.js' %}"></script>
		<script src="{% static 'assets/js/jquery.sticky.js' %}"></script>
        
        <!-- contact js -->
        <script src="{% static 'assets/js/contact.js' %}"></script>
        <script src="{% static 'assets/js/jquery.form.js' %}"></script>
        <script src="{% static 'assets/js/jquery.validate.min.js' %}"></script>
        <script src="{% static 'assets/js/mail-script.js' %}"></script>
        <script src="{% static 'assets/js/jquery.ajaxchimp.min.js' %}"></script>
        
		<!-- Jquery Plugins, main Jquery -->	
        <script src="{% static 'assets/js/plugins.js' %}"></script>
        <script src="{% static 'assets/js/main.js' %}"></script>
        
    </body>
</html>