<!doctype html>
{% load static %}
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        {% for x in userdata %}
        <title>Bazzaars - Hi! {{ x.User_Fname|safe }}</title>
        {% endfor %}
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="{% static 'site.webmanifest' %}">
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.png' %}">

		<!-- CSS here -->
            <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/gijgo.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/slicknav.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.min.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/themify-icons.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
            <link rel="stylesheet" href="{% static 'w3.css' %}">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="{% static 'w3.css' %}">
   </head>

   <body>
       
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img style="width:200px;"src="{% static 'Bazzaars.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->

    <header>
        <!-- Header Start -->
       <div class="header-area">
            <div class="main-header ">
                <div class="header-top top-bg d-none d-lg-block">
                   <div class="container">
                       <div class="col-xl-12">
                        <div class="row d-flex justify-content-between align-items-center">
                            <div class="header-info-left">
                                <ul>     
                                    <li>+91-8279831239, +91-8938979011</li>
                                    <li>shreshtharnd20@gmail.com </li>
                                </ul>
                            </div>
                            <div class="header-info-right">
                                <ul>     
                                    <li>Take Your Store Online at Just <i class="fa fa-inr" style="margin-left:5px;"></i> 1000/-</li>
                                </ul>
                            </div>
                       </div>
                       </div>
                   </div>
                </div>
               <div class="header-bottom  header-sticky">
                    <div class="container">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-2 col-lg-1 col-md-1">
                                <div class="logo">
                                <a href="/index/"><img style="width:200px;"src="{% static 'Bazzaars.png' %}" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-8 col-lg-8 col-md-8">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">          
                                            <li><a href="/index/">Home</a></li>
                                            <li><a href="#address" onclick="document.getElementById('address').style.display='block';document.getElementById('account').style.display='none';document.getElementById('order').style.display='none';">My Address</a></li>
                                            <li><a href="#order" onclick="document.getElementById('address').style.display='none';document.getElementById('account').style.display='none';document.getElementById('order').style.display='block';">My Orders</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>             
                            <div class="col-xl-2 col-lg-3 col-md-3">
                                <!-- Header-btn -->
                                <div  style="text-align:center;" class="header-btn d-none d-lg-block">
                                    <a href="/logoutuser/" class="get-btn">Logout</a>
                                </div>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
       </div>
        <!-- Header End -->
    </header>

    <main>

        <!-- slider Area Start-->
        <div class="slider-area ">
            <!-- Mobile Menu -->
            <div style="padding:20px;"class="single-slider d-flex align-items-center" data-background="{% static 'assets/img/hero/Industries_hero.jpg' %}">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2>User DashBoard</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->

        <!-- Gallery Start-->
        <div style="padding:50px;"class="gallery-area">
            <div class="container-fluid p-0">
                <div class="w3-bar" style="text-align:center;width:100%;">
                  <a style="margin-top:10px;font-size:20px;"class="w3-button w3-orange w3-hover-black"href="#account" onclick="document.getElementById('account').style.display='block';document.getElementById('address').style.display='none';document.getElementById('order').style.display='none';"><i class="fa fa-user"></i> My Account</a>
                  <a style="margin-top:10px;font-size:20px;"class="w3-button w3-orange w3-hover-black"href="#address" onclick="document.getElementById('address').style.display='block';document.getElementById('account').style.display='none';document.getElementById('order').style.display='none';"><i class="fa fa-map-marker"></i> My Address</a>
                  <a style="margin-top:10px;font-size:20px;"class="w3-button w3-orange w3-hover-black"href="#order" onclick="document.getElementById('address').style.display='none';document.getElementById('account').style.display='none';document.getElementById('order').style.display='block';"><i class="fa fa-truck"></i> My Orders</a>
                  <a style="margin-top:10px;font-size:20px;"class="w3-button w3-orange w3-hover-black"href="/logoutuser/"><i class="fa fa-power-off"></i> Logout</a>
                </div>
            </div>
        </div>
        <!-- Gallery End-->
        <div id="id01" class="w3-modal w3-animate-zoom">
  <div style="width:400px;"class="w3-modal-content text-center">

    <div style="width:100%;font-size:20px;padding:6px"class="w3-orange text-center">Edit Details</div>
    <button onclick="document.getElementById('id01').style.display='none'"
      style="cursor:pointer;" class="w3-button w3-orange w3-hover-black w3-display-topright ">&times;</button>
    <div style="padding:20px;"class="w3-container">
      <form action="/edituserdata/" method="POST">
        {% for x in userdata %}
        <label style="float:left;">First Name</label>
        <input style="margin-bottom:20px;"class="w3-input" name="fname" type="text" value="{{ x.User_Fname|safe }}">
        <label style="float:left;">Last Name</label>
        <input style="margin-bottom:20px;"class="w3-input" name="lname" type="text" value="{{ x.User_Lname|safe }}">
        <label style="float:left;">Mobile</label>
        <input style="margin-bottom:20px;"class="w3-input" name="mobile" type="number" value="{{ x.User_Mobile|safe }}">
        {% endfor %}
        <input style="margin-bottom:10px;" class="w3-input w3-button w3-black w3-hover-orange" type="submit" value="Save">
      </form>
    </div>
  </div>
</div>
<div id="id02" class="w3-modal w3-animate-zoom">
  <div style="width:400px;"class="w3-modal-content text-center">

    <div style="width:100%;font-size:20px;padding:6px"class="w3-orange text-center">Add Address</div>
    <button onclick="document.getElementById('id02').style.display='none'"
      style="cursor:pointer;" class="w3-button w3-orange w3-hover-black w3-display-topright ">&times;</button>
    <div style="padding:20px;"class="w3-container">
      <form action="/addaddress/" method="POST">
        <input style="margin-bottom:20px;"class="w3-input" name="name" type="text" placeholder="Name">
        <input style="margin-bottom:20px;"class="w3-input" name="house" type="text" placeholder="House/Street No.">
        <input style="margin-bottom:20px;"class="w3-input" name="colony" type="text" placeholder="Landmark/Colony">
        <input style="margin-bottom:20px;"class="w3-input" name="city" type="text" placeholder="City">
        <input style="margin-bottom:20px;"class="w3-input" name="state" type="text" placeholder="State">
        <input style="margin-bottom:20px;"class="w3-input" name="pincode" type="number" placeholder="Pincode">
        <input style="margin-bottom:20px;"class="w3-input" name="mobile" type="number" placeholder="Mobile Number">

        <input style="margin-bottom:10px;" class="w3-input w3-button w3-black w3-hover-orange" type="submit" value="Save">
      </form>
    </div>
  </div>
</div>
        <div style="margin:50px;padding:20px;"class="gallery-area w3-animate-top" id="account">
            <div class="container-fluid p-0">
                <h2>Account Details</h2>
                <p style="margin-top:10px;">
                {% for x in userdata %}
                <span style="font-size:25px;font-weight:bold;">{{ x.User_Fname|safe }} {{ x.User_Lname|safe }}</span><br>
                <span style="font-size:20px;margin-top:15px;">{{ x.User_Email|safe }}</span><br>
                <span style="font-size:20px;margin-top:15px;">+91-{{ x.User_Mobile|safe }}</span>
                {% endfor %}
                </p>
                <a style="cursor:pointer;"class="w3-button w3-orange w3-hover-black" onclick="document.getElementById('id01').style.display='block';"><i class="fa fa-pencil"></i>
                Edit</a>
            </div>
        </div>
        <div style="margin:50px;padding:20px;display:none;"class="gallery-area w3-animate-top" id="address">
            <div class="container-fluid p-0">
                <h2>My Address</h2>
                <table style="margin-top:20px;margin-bottom:20px;"class="w3-table-all w3-hoverable">
                  {% for x in address %}
                  <tr>
                    <td>
                      <p>
                        <span style="font-size:25px;font-weight:bold;">{{ x.Name|safe }}</span><br>
                        <span style="font-size:18px;">{{ x.HouseStreet|safe }},<br>{{ x.LandmarkColony|safe }}, {{ x.City|safe }} - {{ x.Pincode|safe }}<br>{{ x.State|safe }}</span><br>
                        <span style="font-size:18px;">+91 - {{ x.Mobile|safe }}</span>
                      </p>
                    </td>
                    <td>
                      <a class="w3-button w3-red w3-hover-black"href="/deleteaddress/?aid={{ x.Address_ID|safe }}">Delete</a>
                    </td>
                  </tr>
                  {% endfor %}
                </table>
                <a style="cursor:pointer;"class="w3-button w3-orange w3-hover-black" onclick="document.getElementById('id02').style.display='block';"><i class="fa fa-pencil"></i>
                Add Address</a>
            </div>
        </div>

        <div style="margin:50px;padding:20px;display:none;"class="gallery-area w3-animate-top" id="order">
            <div class="container-fluid p-0">
                <h2>Order Details</h2>
                {% for x in orderdata %}
                <div class="row" style="margin-top:20px;">
                   <div class="column">
                    <p style="margin-left:20px;font-size:15px;line-height:30px;">
                      <span>Ordered On: {{ x.date|safe }} | Order ID: {{ x.id|safe }} | {{ x.type|safe }}</span><br>
                      <span>Ordered From</span><br>
                      <span style="font-size:30px;font-weight:bold;">{{ x.storename|safe }}</span><br>
                      <span style="font-size:20px;font-weight:bold;">Order Total <i class="fa fa-inr"></i> {{ x.total|safe }}</span><br>
                      {% if x.status == 'Pending' %}
                      <span style="color:red;">Yet to be delivered</span>
                      {% else %}
                      <span style="color:green;">Delivered</span>
                      {% endif %}
                    </p>
                    <a style="border-style:solid;border-color:orange;color:orange;"class="w3-button w3-hover-black"href=""><i class="fa fa-phone"></i> Ask For Return</a>
                    <a style="border-style:solid;border-color:orange;color:orange;"class="w3-button w3-hover-black" href="#{{ x.id|safe }}" onclick="getElementById('{{ x.id|safe }}').style.display='block';"><i class="fa fa-eye"></i> View Ordered Products</a>
                  </div>
                </div>
                {% endfor %}
            </div>
        </div>
{% for y in orderdata %}
<div id="{{ y.id|safe }}" onclick="document.getElementById('{{ y.id|safe }}').style.display='none'" class="w3-modal w3-animate-zoom">
  <div class="w3-modal-content text-center">
    <div style="width:100%;font-size:20px;padding:6px"class="w3-orange text-center">Order Details</div>
    <button onclick="document.getElementById('{{ y.id|safe }}').style.display='none'"
      style="cursor:pointer;" class="w3-button w3-orange w3-hover-black w3-display-topright ">&times;</button>
    <div style="padding:20px;"class="w3-container">
      <table class="w3-table-all w3-hoverable">
        <tr class="w3-black w3-hover-orange">
          <th>Product Name</th>
          <th>Quantity</th>
          <th>Product Price</th>
          <th>Total Price</th>
          <th>Image</th>
        </tr>
        {% for x in productdata %}
        {% if x.oid == y.id %}
        <tr>
          <td>{{ x.name|safe }}</td>
          <td>{{ x.quantity|safe }}</td>
          <td>{{ x.price|safe }}</td>
          <td>{{ x.total|safe }}</td>
          <td>
            <img style="width:150px;" src="{{ x.image|safe }}">
          </td>
        </tr>
        {% endif %}
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endfor %}

        <!-- Want To Work Start -->
        <div class="wantToWork-area w-padding">
            <div class="container">
                <div class="row d-flex align-items-end">
                    <div class="col-xl-6 col-lg-8 col-md-8">
                        <div class="wantToWork-caption">
                            <h2>Want To Work<br> With Us? Hit The Button.</h2>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-4 col-md-4">
                       <div class="wantToWork-btn f-right">
                            <a href="#" class="white-btn">Let’s Work Toghter</a>
                       </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Want To Work End -->

    </main>
    
   <footer>
       <!-- Footer Start-->
       <div class="footer-area footer-bg footer-padding" style="padding-bottom:0px;">
           <div class="container">
               <div class="row d-flex justify-content-between">
                   <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                      <div class="single-footer-caption mb-50">
                        <div class="single-footer-caption mb-30">
                            <div class="footer-tittle">
                                <h4>About Us</h4>
                                <div class="footer-pera">
                                    <p>Bazzaars is an online platform for indian local market. On Bazzaars we provide an ecommerce website to the local shop owners in just few simple steps and at just Rs 999/-.</p>
                               </div>
                            </div>
                        </div>
                         <!-- logo -->
                         <div class="footer-logo">
                           <a href="index.html"><img style="width:200px;" src="{% static 'White Bazaarrs.png' %}" alt=""></a>
                         </div>
                      </div>
                   </div>
                   <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                       <div class="single-footer-caption mb-50">
                           <div class="footer-tittle">
                               <h4>Contact Info</h4>
                               <ul>
                                   <li>
                                   <p> Address : Agra-282007<br>Uttar Pradesh-INDIA</p>
                                   </li>
                                   <li><a href="tel://+918279831239/">Phone : +91-8279831239, +918938979011</a></li>
                                   <li><a href="mail://bazzaarsdotcom@gmail.com/">Email : bazzaarsdotcom@gmail.com</a></li>
                               </ul>
                           </div>
                       </div>
                   </div>
                   <div class="col-xl-3 col-lg-3 col-md-3 col-sm-5">
                       <div class="single-footer-caption mb-50">
                           <div class="footer-tittle">
                               <h4>Important Link</h4>
                               <ul>
                                   <li><a href="#id03" onclick="document.getElementById('id03').style.display='block'">Create Store</a></li>
                                   <li><a href="#id01" onclick="document.getElementById('id01').style.display='block'">Store Login</a></li>
                                   <li><a href="#id05" onclick="document.getElementById('id05').style.display='block'">User Login</a></li>
                                   <li><a href="#id06" onclick="document.getElementById('id06').style.display='block'">Become Agent</a></li>
                               </ul>
                           </div>
                       </div>
                   </div>
                   <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                       <div class="single-footer-caption mb-50">
                           <div class="footer-tittle">
                               <h4>Terms & Conditions</h4>
                                <ul>
                                   <li><a href="/tcstore/">T&C for Stores</a></li>
                                   <li><a href="/tcuser/">T&C for Users</a></li>
                                   <li><a href="/privacypolicy/">Privacy Policy</a></li>
                                   <li><a href="/disclaimer/">Disclaimer</a></li>
                               </ul>                            
                            </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       <!-- footer-bottom aera -->
       <div class="footer-bottom-area footer-bg" style="padding-top:0px;">
           <div class="container">
               <div class="footer-border">
                    <div class="row d-flex justify-content-between align-items-center">
                        <div class="col-xl-10 col-lg-10 ">
                            <div class="footer-copy-right">
                                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved @ <a href="https://www.srd.mobi">SRD - Shreshtha Research & Development</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2">
                            <div class="footer-social f-right">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fas fa-globe"></i></a>
                            </div>
                        </div>
                    </div>
               </div>
           </div>
       </div>
    </main>
       <!-- Footer End-->
   </footer>
   
	<!-- JS here -->
		<!-- All JS Custom Plugins Link Here here -->
        <script src="{% static 'assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>
		
		<!-- Jquery, Popper, Bootstrap -->
		<script src="{% static 'assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
        <script src="{% static 'assets/js/popper.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="{% static 'assets/js/jquery.slicknav.min.js' %}"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'assets/js/slick.min.js' %}"></script>
        <!-- Date Picker -->
        <script src="{% static 'assets/js/gijgo.min.js' %}"></script>
		<!-- One Page, Animated-HeadLin -->
        <script src="{% static 'assets/js/wow.min.js' %}"></script>
		<script src="{% static 'assets/js/animated.headline.js' %}"></script>
        <script src="{% static 'assets/js/jquery.magnific-popup.js' %}"></script>

		<!-- Scrollup, nice-select, sticky -->
        <script src="{% static 'assets/js/jquery.scrollUp.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.nice-select.min.js' %}"></script>
		<script src="{% static 'assets/js/jquery.sticky.js' %}"></script>
        
        <!-- contact js -->
        <script src="{% static 'assets/js/contact.js' %}"></script>
        <script src="{% static 'assets/js/jquery.form.js' %}"></script>
        <script src="{% static 'assets/js/jquery.validate.min.js' %}"></script>
        <script src="{% static 'assets/js/mail-script.js' %}"></script>
        <script src="{% static 'assets/js/jquery.ajaxchimp.min.js' %}"></script>
        
		<!-- Jquery Plugins, main Jquery -->	
        <script src="{% static 'assets/js/plugins.js' %}"></script>
        <script src="{% static 'assets/js/main.js' %}"></script>
        
    </body>
</html>