<!doctype html>
{% load static %}
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Bazzaars</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="{% static 'site.webmanifest' %}">
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.png' %}">

		<!-- CSS here -->
            <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/gijgo.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/slicknav.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.min.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/themify-icons.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
            <link rel="stylesheet" href="{% static 'w3.css' %}">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   </head>
   <style type="text/css">
        .zoom:hover {transform: scale(1.2);
                    color:orange;}
        .itemhover:hover {color:orange;}
    </style>
   <body>
       
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="{% static 'assets/img/logo/logo.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->

    <header>
        <!-- Header Start -->
       <div class="header-area">
            <div class="main-header ">
                <div class="header-top top-bg d-none d-lg-block">
                   <div class="container">
                       <div class="col-xl-12">
                        <div class="row d-flex justify-content-between align-items-center">
                            <div class="header-info-left">
                                <ul>     
                                    <li>+91-8279831239, +91-8938979011</li>
                                    <li>shreshtharnd20@gmail.com </li>
                                </ul>
                            </div>
                            <div class="header-info-right">
                                <ul>     
                                    <li>Take Your Store Online at Just <i class="fa fa-inr" style="margin-left:5px;"></i> 1000/-</li>
                                </ul>
                            </div>
                       </div>
                       </div>
                   </div>
                </div>
               <div class="header-bottom  header-sticky">
                    <div class="container">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-2 col-lg-1 col-md-1">
                                <div class="logo">
                                <a href="index.html"><img src="{% static 'assets/img/logo/logo.png' %}" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-8 col-lg-8 col-md-8">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">                                                                                                                                     
                                            <li><a href="index.html">Home</a></li>
                                            <li><a style="cursor:pointer;" onclick="document.getElementById('id01').style.display='block'">Login</a></li>
                                            <li><a style="cursor:pointer;" onclick="document.getElementById('id02').style.display='block'">Signup</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>             
                            <div class="col-xl-2 col-lg-3 col-md-3">
                                <!-- Header-btn -->
                                <div class="header-btn d-none d-lg-block">
                                    <a style="color:white;cursor:pointer;" onclick="document.getElementById('id03').style.display='block'" class="get-btn text-center">Create Store</a>
                                </div>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
       </div>
        <!-- Header End -->
    </header>
<div id="id02" style="display:block;" class="w3-modal w3-animate-zoom">
  <div style="width:400px;"class="w3-modal-content">

    <div style="width:100%;font-size:20px;padding:6px"class="w3-orange text-center">Verify Your Account</div>


    <div style="padding:20px;"class="w3-container">
      <form action="/verifyuser/" method="POST">
        <input type="hidden" name="userid" value="{{ userid|safe }}">
        <input class="w3-input" type="text" name="otp" placeholder="Enter One Time Password (OTP)" required style="margin-bottom:10px;">
        <p>Didn't Recieve OTP? <a href="/resendotpuser/?uid={{ userid|safe }}" class="itemhover">Resend OTP</a></p>

        <input class="w3-input w3-button w3-black w3-hover-orange" type="submit" value="Verify">
      </form>
      
    </div>

  </div>
</div>
    <main>

        <!-- slider Area Start-->
        <div class="slider-area">
            <!-- Mobile Menu -->
            <div class="slider-active ">
                <div style="background-size:100% auto;background-image:url({% static 'images/M63DgY.jpg' %}"class="single-slider  hero-overly d-flex align-items-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6 col-lg-8 col-md-8">
                                <div class="hero__caption" data-background="{% static 'assets/img/hero/hero_color_bg.png' %}">
                                    <p style="margin-bottom:0px;" data-animation="fadeInUp" data-delay=".6s">Take Your Store Online, Get Your Own Ecommerce Website</p>
                                    <h1 data-animation="fadeInUp" data-delay=".4s" >At Just<br><i class="fa fa-inr"></i> 1000/-</h1>
                                    
                                    <!-- Hero-btn -->
                                    <div class="hero__btn" data-animation="fadeInUp" data-delay=".7s">
                                        <a href="industries.html" class="btn hero-btn">Create Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="background-images:url({% static 'images/1555662182854.jpg' %}"class="single-slider  hero-overly d-flex align-items-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6 col-lg-8 col-md-8">
                                <div class="hero__caption" data-background="{% static 'assets/img/hero/hero_color_bg.png' %}">
                                    <p style="margin-bottom:0px;" data-animation="fadeInUp" data-delay=".6s">Take Your Store Online, Get Your Own Ecommerce Website</p>
                                    <h1 data-animation="fadeInUp" data-delay=".4s" >At Just<br><i class="fa fa-inr"></i> 1000/-</h1>
                                    
                                    <!-- Hero-btn -->
                                    <div class="hero__btn" data-animation="fadeInUp" data-delay=".7s">
                                        <a href="industries.html" class="btn hero-btn">Create Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="services-area d-flex justify-content-lg-between">
            <div class="container text-center">
                <h1 style="margin-top:30px;font-weight:bold;">Groceries <span style="color:orange">Stores</span></h1>
                <div class="row justify-content-lg-between">
                    <div class="column zoom text-center" style="padding:30px;transition: transform .2s;">
                        <img src="{% static 'images/0b30b1e17826313ad0017122070460e1.png' %}" style="width:100px;height:100px;">
                        <p style="font-size:20px;margin-top:10px;font-weight:bold;">Kirana Store</p>
                    </div>
                    <div class="column zoom text-center" style="padding:30px;transition: transform .2s;">
                        <img src="{% static 'images/mhyu.png' %}" style="width:100px;height:100px;">
                        <p style="font-size:20px;margin-top:10px;font-weight:bold;">Departmental<br> Store</p>
                    </div>
                    <div class="column zoom text-center" style="padding:30px;transition: transform .2s;">
                        <img src="{% static 'images/backery.jpg' %}" style="width:100px;height:100px;">
                        <p style="font-size:20px;margin-top:10px;font-weight:bold;">Bakery</p>
                    </div>
                    <div class="column zoom text-center" style="padding:30px;transition: transform .2s;">
                        <img src="{% static 'images/thick-easy-dairy-product-group-1600x1200-02-324x324.jpg' %}" style="width:100px;height:100px;">
                        <p style="font-size:20px;margin-top:10px;font-weight:bold;">Dairy Shop</p>
                    </div>
                    <div class="column zoom text-center" style="padding:30px;transition: transform .2s;">
                        <img src="{% static 'images/unnamed (1).jpg' %}" style="width:100px;height:100px;">
                        <p style="font-size:20px;margin-top:10px;font-weight:bold;">Eggs/Meats</p>
                    </div>
                    <div class="column zoom text-center" style="padding:30px;transition: transform .2s;">
                        <img src="{% static 'images/unnamed.jpg' %}" style="width:100px;height:100px;">
                        <p style="font-size:20px;margin-top:10px;font-weight:bold;">Fruits/<br>Vegitable</p>
                    </div>
                    <div class="column zoom text-center" style="padding:30px;transition: transform .2s;">
                        <img src="{% static 'images/composition-variety-grocery-products-white-background-31618939.jpg' %}" style="width:100px;height:100px;">
                        <p style="font-size:20px;margin-top:10px;font-weight:bold;">Super Markets</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="services-area d-flex justify-content-lg-between">
            <div class="container text-center">
                <h1 style="margin-top:30px;font-weight:bold;">Fashion <span style="color:orange">Stores</span></h1>
                <div class="row justify-content-lg-between">
                    <div class="column zoom text-center" style="padding:30px;transition: transform .2s;">
                        <img src="{% static 'images/young.jpg' %}" style="width:100px;height:100px;">
                        <p style="font-size:20px;margin-top:10px;font-weight:bold;">Cloth Store</p>
                    </div>
                    <div class="column zoom text-center" style="padding:30px;transition: transform .2s;">
                        <img src="{% static 'images/unnamed (2).jpg' %}" style="width:100px;height:100px;">
                        <p style="font-size:20px;margin-top:10px;font-weight:bold;">Shoe Store</p>
                    </div>
                    <div class="column zoom text-center" style="padding:30px;transition: transform .2s;">
                        <img src="{% static 'images/watch-wallet-watch-wallet-white-background-118331147.jpg' %}" style="width:100px;height:100px;">
                        <p style="font-size:20px;margin-top:10px;font-weight:bold;">Accessories Store</p>
                    </div>
                    <div class="column zoom text-center" style="padding:30px;transition: transform .2s;">
                        <img src="{% static 'images/ohtyhjjk.jpg' %}" style="width:100px;height:100px;">
                        <p style="font-size:20px;margin-top:10px;font-weight:bold;">Cosmetic Store</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="services-area d-flex justify-content-lg-between">
            <div class="container text-center">
                <h1 style="margin-top:30px;font-weight:bold;">General <span style="color:orange">Stores</span></h1>
                <div class="row justify-content-lg-between">
                    <div class="column zoom text-center" style="padding:30px;transition: transform .2s;">
                        <img src="{% static 'images/02e83080f47488589fab94f7cfa566bfddc203fc.jpg' %}" style="width:100px;height:100px;">
                        <p style="font-size:20px;margin-top:10px;font-weight:bold;">Hardware Store</p>
                    </div>
                    <div class="column zoom text-center" style="padding:30px;transition: transform .2s;">
                        <img src="{% static 'images/electrical-products-1509079755-3418445.jpeg' %}" style="width:100px;height:100px;">
                        <p style="font-size:20px;margin-top:10px;font-weight:bold;">Electronic<br> Store</p>
                    </div>
                    <div class="column zoom text-center" style="padding:30px;transition: transform .2s;">
                        <img src="{% static 'images/promo-large.jpg' %}" style="width:100px;height:100px;">
                        <p style="font-size:20px;margin-top:10px;font-weight:bold;">Home<br> Appliances</p>
                    </div>
                    <div class="column zoom text-center" style="padding:30px;transition: transform .2s;">
                        <img src="{% static 'images/portland_livingroom_pack_1-1024x683.jpg' %}" style="width:100px;height:100px;">
                        <p style="font-size:20px;margin-top:10px;font-weight:bold;">Furniture Store</p>
                    </div>
                    <div class="column zoom text-center" style="padding:30px;transition: transform .2s;">
                        <img src="{% static 'images/materials-roofing-construction-materials-isolated-white-background-d-illustration-85819270.jpg' %}" style="width:100px;height:100px;">
                        <p style="font-size:20px;margin-top:10px;font-weight:bold;">Building Raw<br> Material</p>
                    </div>
                    <div class="column zoom text-center" style="padding:30px;transition: transform .2s;">
                        <img src="{% static 'images/laptop-tablet-desktop-mobile-vector-1642863.jpg' %}" style="width:100px;height:100px;">
                        <p style="font-size:20px;margin-top:10px;font-weight:bold;">Mobile/<br>Computer Store</p>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="services-area d-flex justify-content-lg-between">
            <div class="container text-center">
                <h1 style="margin-top:30px;font-weight:bold;">Other <span style="color:orange">Stores</span></h1>
                <div class="row justify-content-lg-between">
                    <div class="column zoom text-center" style="padding:30px;transition: transform .2s;">
                        <img src="{% static 'images/Fotolia_34703220_XS.jpg' %}" style="width:100px;height:100px;">
                        <p style="font-size:20px;margin-top:10px;font-weight:bold;">Stationary Store</p>
                    </div>
                    <div class="column zoom text-center" style="padding:30px;transition: transform .2s;">
                        <img src="{% static 'images/swiss-military-7pc-luggage-set.jpg' %}" style="width:100px;height:100px;">
                        <p style="font-size:20px;margin-top:10px;font-weight:bold;">Luggage Store</p>
                    </div>
                    <div class="column zoom text-center" style="padding:30px;transition: transform .2s;">
                        <img src="{% static 'images/sports-products-500x500.jpg' %}" style="width:100px;height:100px;">
                        <p style="font-size:20px;margin-top:10px;font-weight:bold;">Sports Store</p>
                    </div>
                    <div class="column zoom text-center" style="padding:30px;transition: transform .2s;">
                        <img src="{% static 'images/proc_family_launch_retina.png' %}" style="width:100px;height:100px;">
                        <p style="font-size:20px;margin-top:10px;font-weight:bold;">Medical Store</p>
                    </div>
                    <div class="column zoom text-center" style="padding:30px;transition: transform .2s;">
                        <img src="{% static 'images/gifts.jpg' %}" style="width:100px;height:100px;">
                        <p style="font-size:20px;margin-top:10px;font-weight:bold;">Gift Store</p>
                    </div>
                                        
                </div>
            </div>
        </div>
        
        <!-- slider Area End-->
        
        <div class="safe-industery-area section-padd-top30">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md pr-0">
                        <div class="safe-caption pt-10 mb-40">
                            <h2>Get Your Store Website In Just Simple Steps</h2>
                            <ol><li>1. Click here to create your online store website.</li>
                            <li>2. Select Store Category</li>
                            <li>3. Fill your store details like Store Name, Store Address, Phone, Email and Owner Name.</li>
                            <li>4. You are all set now! login to your store dashboard from here.</li></ol>

                            For more details download docs which availiable in Hindi and English.<br>
                            <p style="margin-top:20px;font-size:18px;"><span style="font-weight:bold;">Having Trouble?</span> Call Us @ +91-8279831239 or Whatsapp Us @ +918279831239. We will help you to create your online store.</p>
                            <!-- btn -->
                            <a href="industries.html" class="btn">Click Here To Proceed</a>
                        </div>
                    </div>
                    <div class="col-xl-5 offset-xl-1 col-lg-6 pl-0">
                        <div class="safe-caption-right">
                            <div class="safe-img">
                                <img style="height:500px;"src="{% static 'images/ecommerce-wallpaper.jpg' %}" alt="">
                            </div>
                            <!-- img TOP caption -->
                            <div style="padding:20px;height:200px;"class="safe-alert-box">
                                <div class="row">
                                    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 d-none d-sm-block">
                                        
                                        <div class="safe-alert" data-background="{% static 'assets/img/safe_industery/color_bg.png' %}">
                                            <img src="{% static 'assets/img/icon/aleart_icon.png' %}" alt="">
                                            <h4>Our Mission</h4>
                                            <p>Our Mission
                                            To take the indian local stores online
                                            with their own website
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wantToWork-area w-padding">
            <div class="container">
                <div class="row d-flex align-items-end">
                    <div class="col-xl-6 col-lg-8 col-md-8">
                        <div class="wantToWork-caption">
                            <h2>Get Your<br>Own Store Website For <br><i class="fa fa-inr"></i>1000/- Only</h2>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-4 col-md-4">
                       <div class="wantToWork-btn f-right">
                            <a href="#" class="white-btn">Start Here</a>
                       </div>
                    </div>
                </div>
            </div>
        </div>

                </div>
            </div>
        </div>

        <!-- Services Area Start -->
        <div class="services-area d-flex justify-content-lg-between">
            <div class="single-services s-bg mb-30">
                <div class="services-icon">
                    <i style="font-size:60px;color:orange;margin-bottom:10px;"class="fa fa-credit-card-alt"></i>
                </div>
                <div class="services-caption">
                    <h4>Zero Monthly Billing</h4>
                    <p>
                    We take zero monthly rent and zero monthly or yearly maintenence. It means a one time investment take your business online.
                    </p>
                </div>
                
            </div>
            <div class="single-services mb-30">
                <div class="services-icon">
                    <i style="font-size:60px;color:orange;margin-bottom:10px;"class="fa fa-server"></i>
                </div>
                <div class="services-caption">
                    <h4>No need for Domain or Hosting</h4>
                    <p>
                    Just create your store's website and get a unique link by your store's name and let us handle all other stuffs.
                    </p>
                </div>
                
            </div>
            <div class="single-services s-bg mb-30">
                <div class="services-icon">
                    <i style="font-size:60px;color:orange;margin-bottom:10px;"class="fa fa-phone-square"></i>
                </div>
                <div class="services-caption">
                    <h4>24x7 Call Assistance</h4>
                    <p>
                    If you have any trouble while creating your store just call us @ +91-8279831239 and our engineers will help you.
                    </p>
                </div>
                
            </div>
        </div>
        <!-- Services Area End -->

        <!-- Safe Industery Start -->
        
        <!-- Safe Industery End -->

        <!-- Gallery Start-->
        
   <footer>
       <!-- Footer Start-->
       <div class="footer-area footer-bg footer-padding">
           <div class="container">
               <div class="row d-flex justify-content-between">
                   <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                      <div class="single-footer-caption mb-50">
                        <div class="single-footer-caption mb-30">
                            <div class="footer-tittle">
                                <h4>About Us</h4>
                                <div class="footer-pera">
                                    <p>Heaven fruitful doesn't over lesser days appear creeping seasons so behold bearing</p>
                               </div>
                            </div>
                        </div>
                         <!-- logo -->
                         <div class="footer-logo">
                           <a href="index.html"><img src="{% static 'assets/img/logo/logo2_footer.png' %}" alt=""></a>
                         </div>
                      </div>
                   </div>
                   <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                       <div class="single-footer-caption mb-50">
                           <div class="footer-tittle">
                               <h4>Contact Info</h4>
                               <ul>
                                   <li>
                                   <p> Address :Your address goes
                                    here, your demo address.</p>
                                   </li>
                                   <li><a href="#">Phone : +8880 44338899</a></li>
                                   <li><a href="#">Our Photo Gellary</a></li>
                               </ul>
                           </div>
                       </div>
                   </div>
                   <div class="col-xl-3 col-lg-3 col-md-3 col-sm-5">
                       <div class="single-footer-caption mb-50">
                           <div class="footer-tittle">
                               <h4>Important Link</h4>
                               <ul>
                                   <li><a href="#"> View Project</a></li>
                                   <li><a href="#">Contact Us</a></li>
                                   <li><a href="#">Testimonial</a></li>
                                   <li><a href="#">Proparties</a></li>
                                   <li><a href="#">Support</a></li>
                               </ul>
                           </div>
                       </div>
                   </div>
                   <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                       <div class="single-footer-caption mb-50">
                           <div class="footer-tittle">
                               <h4>Newsletter</h4>
                               <div class="footer-pera footer-pera2">
                                <p>Heaven fruitful doesn't over lesser in days. Appear creeping seasons</p>
                            </div>
                            <!-- Form -->
                            <div class="footer-form" >
                                <div id="mc_embed_signup">
                                    <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                    method="get" class="subscribe_form relative mail_part">
                                        <input type="email" name="email" id="newsletter-form-email" placeholder="Email Address"
                                        class="placeholder hide-on-focus" onfocus="this.placeholder = ''"
                                        onblur="this.placeholder = ' Email Address '">
                                        <div class="form-icon">
                                            <button type="submit" name="submit" id="newsletter-submit"
                                            class="email_icon newsletter-submit button-contactForm"><img src="assets/img/icon/form_icon.png" alt=""></button>
                                        </div>
                                        <div class="mt-10 info"></div>
                                    </form>
                                </div>
                            </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
       <!-- footer-bottom aera -->
       <div class="footer-bottom-area footer-bg">
           <div class="container">
               <div class="footer-border">
                    <div class="row d-flex justify-content-between align-items-center">
                        <div class="col-xl-10 col-lg-10 ">
                            <div class="footer-copy-right">
                                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2">
                            <div class="footer-social f-right">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fas fa-globe"></i></a>
                                <a href="#"><i class="fab fa-behance"></i></a>
                            </div>
                        </div>
                    </div>
               </div>
           </div>
       </div>
    </main>
       <!-- Footer End-->
   </footer>
   
	<!-- JS here -->
	
		<!-- All JS Custom Plugins Link Here here -->
        <script src="{% static 'assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>
		
		<!-- Jquery, Popper, Bootstrap -->
		<script src="{% static 'assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
        <script src="{% static 'assets/js/popper.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="{% static 'assets/js/jquery.slicknav.min.js' %}"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'assets/js/slick.min.js' %}"></script>
        <!-- Date Picker -->
        <script src="{% static 'assets/js/gijgo.min.js' %}"></script>
		<!-- One Page, Animated-HeadLin -->
        <script src="{% static 'assets/js/wow.min.js' %}"></script>
		<script src="{% static 'assets/js/animated.headline.js' %}"></script>
        <script src="{% static 'assets/js/jquery.magnific-popup.js' %}"></script>

		<!-- Scrollup, nice-select, sticky -->
        <script src="{% static 'assets/js/jquery.scrollUp.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.nice-select.min.js' %}"></script>
		<script src="{% static 'assets/js/jquery.sticky.js' %}"></script>
        
        <!-- contact js -->
        <script src="{% static 'assets/js/contact.js' %}"></script>
        <script src="{% static 'assets/js/jquery.form.js' %}"></script>
        <script src="{% static 'assets/js/jquery.validate.min.js' %}"></script>
        <script src="{% static 'assets/js/mail-script.js' %}"></script>
        <script src="{% static 'assets/js/jquery.ajaxchimp.min.js' %}"></script>
        
		<!-- Jquery Plugins, main Jquery -->	
        <script src="{% static 'assets/js/plugins.js' %}"></script>
        <script src="{% static 'assets/js/main.js' %}"></script>
        {{ alert|safe }} 
    </body>
</html>